@mixin input-element {
  background-color: $grey-input;
  padding-left: 0.5em;
  height: 50px;
  margin-top: 0.75em;
  border: 1px solid transparent;
  border-radius: 8px;
  width: 60%;
  transition: background-color 0.2s, border-color 0.2s;

  &:active,
  &:focus {
    background-color: $input-active;
    border: 1px solid $input-active--border;
    caret-color: $input-active--border;
  }

  &:hover {
    background-color: $input-hover;
  }
  &,
  &::placeholder {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
  &::placeholder {
    color: $jumbo;
  }
}

/* Movies genre button */
@mixin genre-button {
  display: inline-block;
  background-color: $wisp-pink;
  color: $bittersweet;
  border-radius: 24px;
  padding: 0.5em 0.9em;
}

/* Movies time&length */
@mixin time-info {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $jumbo;
  margin: 15px 0;
}
