$cherry-red: #ec1115;
$snow-white: #ffffff;
$totem-pole: #a60c0e;
$bittersweet: #f47073;
$tuna: #343541;
$wisp-pink: #fef6f6;
$charade: #292a33;
$grey-input: #f0f0f0;
$jumbo: #85868d;
$input-background: #f7f7f7;
$gray-abbey: #484954;
