$cherry-red: #ec1115;
$snow-white: #ffffff;
$totem-pole: #a60c0e;
$bittersweet: #f47073;
$tuna: #343541;
$wisp-pink: #fef6f6;
$charade: #292a33;
$grey-input: #f0f0f0;
$jumbo: #85868d;
$gray-abbey: #484954;

/* input colors */
$input-background: #f7f7f7;
$input-hover: #e5e5e5;
$input-active: #2f80ed10;
$input-active--border: #22262b10;
